$tablet: 700px;
$laptop: 1270px;
$desktop: 1800px;
@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}